[Desktop Entry]
Exec=mobile-config-firefox %u
Icon=firefox
Type=Application
Terminal=false
Name=Firefox
GenericName=Web Browser
MimeType=text/html;
StartupNotify=true
Categories=Network;WebBrowser;
StartupWMClass=firefox
