/* Copyright 2021 Anri Dellal
   SPDX-License-Identifier: GPL-3.0-or-later */

@-moz-document regexp("about:preferences.*") {
    .sticky-container {
        display: flex;
    }

    #policies-container {
        display: none;
    }

    /* #sync page */
    .fxaMobilePromo {
        display: none;
    }
    
    @media (max-width: 700px) {
        .fxaSyncIllustration {
            display: none;
        }
    }
}
